<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Home</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="people" class="menu-people">
      People
    </LinkTo>
    <LinkTo @route="starships" class="menu-starships">
      Starships
    </LinkTo>
  </div>
</nav>